div.page table {
	/*background: red;*/
	width: 96%;
	margin: auto;
	border-collapse: collapse;
}

div.page table th {
	padding-bottom: 10px;
}

div.page table td {
	padding: 5px;
	border-top: solid 1px black;
	text-align: center;
}

div.page table input[type = checkbox] {
	-webkit-border-radius: 0;
	background: red;
	border-color: red;
}

input[type=checkbox] {
	display: none !important;
	cursor: pointer;
}
input[type=checkbox]:not([disabled]) + label {
	cursor: pointer;
}
input[type=checkbox] + label:before {
	position: relative!important;
	padding-right: 3px;
	top: 1px;
	font-family: 'Arial' !important;
	font-style: normal;
	font-weight: normal;
	content: "O";
	color: #333;
}
input[type=checkbox]:checked + label:before {
	content: '√';
	color: #ffa500;
}
