div.card {
	width: 1024px;
	height: 200px;

	background: var(--cardBackground);
	box-shadow: var(--shadow);

	margin: auto;
	margin-bottom: 20px;

	/*padding-top: 10px;*/

	position: relative;
}

div.card#error h1 {
	text-align: center;
	line-height: 100%;
	vertical-align: middle;
	padding-top: 80px;
}

div.card.container {
	background: none;
	box-shadow: none;

	padding: 0;

	position: relative;
}

div.card.container div.card.half {
	width: 500px;

	position: absolute;
}

div.card.container > div.card.half:nth-child(2),
div.card.container > div.card.quarter:nth-child(2) {
	right: 0;
}

div.card.container div.card.quarter {
	width: 240px;

	position: absolute;
}

/*div.card img {
	width: 100%;
	height: 100%;
}*/

div.card.form * {
	text-align: center;
}

@media (max-width: 800px) {
	div.card {
		width: 100%;
	}

	div.card,container {
		width: 100%;
	}
}
