div.card#create {
	height: auto;
	padding: 20px 0px 20px 0px;
}

div.card table {
	width: 100%;
}

div.card table input {
	width: 100%;
	padding: 3px;
	border: none;
	height: 21px;
	color: white;
	text-align: center;
	background: var(--grey_3);
	box-shadow: inset 1px 1px 1px var(--grey_2);
}

div.card table input[type = 'button'],
div.card table input[type = 'submit'] {
	box-shadow: none;
	border: solid 1px var(--grey_2);
}

div.card table select {
	border: none;
	border-radius: 0;
	height: 21px;
	text-align: center;
	width: auto;
	padding: 3px 5px 3px 5px;
	background: var(--grey_3);
	border: solid 1px var(--grey_2);

	-webkit-appearance: none;
}

div.card table tr.updating td {
	background: var(--grey_3);
}

div.card#signalements {
	height: auto;
	padding: 10px 0 10px 0;
}


div.card#signalements table {
	border-collapse: collapse;
}

div.card#signalements table:hover {
	cursor: pointer;
}

div.card#signalements table tr:first-child:hover {
	cursor: default;
}

div.card#signalements table tr:nth-child(2n+2) {
	background: var(--grey_5);
}

div.card#signalements table tr:nth-child(2n+3) {
	background: var(--grey_4);
}

div.card#signalements table td {
	text-align: center;
	border-top: solid 1px black;
}

div.card#signalements table td:first-child {
	border-right: solid 1px black;
	padding-right: 0px;
}

div.card#signalements table td:nth-child(10) {
	border-right: solid 1px black;
}

div.card#signalements table td:nth-child(11),
div.card#signalements table td:nth-child(12) {
	border: none;
}

div.card#signalements table tr:nth-child(n+1) td:first-child {
	background: var(--grey_4);
}

input[type="checkbox"] {
	display:none;
}
input[type="checkbox"] + label {
	display:inline-block;
	width:15px;
	height:15px;
	border: solid 3px var(--grey_2);
	background: var(--grey_4);
}
input[type="checkbox"]:checked + label {
	background: var(--grey_2);
}

.si {
	color: #AD6121;
}

.as {
	color: #146868;
}

.sa {
	color: #1C8B1C;
}

.ec {
	color: #FF0000;
}

.an {
	color: grey;
}
